{% extends 'base.html' %}
 
{% block title %}注册{% endblock %}
{% block css %}
 <style type="text/css">
   #id_verification_code{
    width: 180px;
    display: inline-block;
   }
 </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-register' action="/chatroom/register/" method="post">
              {% csrf_token %}
              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}

              <h2 class="text-center">欢迎注册</h2>
              <div class="form-group">
                  {{ register_form.username.label_tag }}
                  {{ register_form.username}}
              </div>
              <div class="form-group">
                  {{ register_form.password.label_tag }}
                  {{ register_form.password }}
              </div>
              <div class="form-group">
                  {{ register_form.password2.label_tag }}
                  {{ register_form.password2 }}
              </div>
              <div class="form-group">
                  {{ register_form.phone.label_tag }}
                  {{ register_form.phone }}
              </div>
              <div class="form-group">
                  {{ register_form.verification_code.label_tag }}</br>
                  {{ register_form.verification_code }}
                  <button type="button" class="btn btn-default pull-right">获取验证码</button>
              </div>
              <div class="form-group">
                  {{ register_form.email.label_tag }}
                  {{ register_form.email }}
              </div>
              <div class="form-group">
                  {{ register_form.sex.label_tag }}
                  {{ register_form.sex }}
              </div>
 
              <button type="reset" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>
 
          </form>
        </div>
    </div> <!-- /container -->
{% endblock %}
{% block js %}
<script type="text/javascript">
  $('#id_verification_code').next().click(function(){
    dict = {
      'code_phone':$('#id_phone').val(),
      'csrfmiddlewaretoken': '{{ csrf_token }}'
    }
    $.post('/chatroom/register/', dict, function(res){
      console.log(res);
    })
  })
</script>
{% endblock %}